<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.memo2.store.StoreDAO">
 	<select id="selectStoreList" resultType="com.memo2.store.Store">
 		SELECT
 			*
 		FROM
 			`store`
 	</select>
 </mapper>